{% comment %}
Renders cart items for the cart drawer

Usage:
{% render 'cart-drawer-items' %}
{% endcomment %}


{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-drawer-product" class="cart-drawer__product" data-cart-drawer-product-id="${id}">
      <div class="cart-drawer__product-inner">
        <div class="cart-drawer__product-image global-media-settings">            
          {% if item.image %}
            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1">
              <div class="cart-drawer__product-image global-media-settings">
                <img src="{{ item.image | image_url: width: 140 }}"
                  alt="{{ item.image.alt | escape }}"
                  loading="lazy"
                  width="140"
                  height="{{ 140 | divided_by: item.image.aspect_ratio | ceil }}"
                >
              </div>
            </a>
          {% endif %}
        </div>
        <div class="cart-drawer__product-details"> 
          <a href="{{ item.url }}"><h3 class="cart-drawer__product-name h4">{{ item.product.title | escape }}</h3></a>
          {% render 'price', variant: item.variant, use_variant: true %}

          {%- if item.product.has_only_default_variant == false -%}
            {%- for option in item.options_with_values -%}
              <div class="product-option">
                <dt>{{ option.name }}: </dt>
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          {%- endif -%}

          <div class="cart-drawer__product-quantity">
            <div class="cart-drawer__product-quantity-wrapper">
              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                  type="number"
                  name="updates[]"
                  value="{{ item.quantity }}"
                  min="0"
                  max="{{ item.variant.inventory_quantity }}"
                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                  id="Quantity-{{ item.index | plus: 1 }}"
                  data-index="{{ item.index | plus: 1 }}"
                >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
              <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                    <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                    <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                  </svg>
                </a>
              </cart-remove-button>
            </div>
            <div class="cart-drawer__product-error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
              <small class="cart-drawer__product-error-text"></small>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div> 
  {%- endfor -%}
{%- endif -%}
